[submodule "themes/ebon_hawk"]
	path = themes/ebon_hawk
	url = https://github.com/QSaman/ebon_hawk.git
[submodule "themes/ebon-hawk-learn"]
	path = themes/ebon-hawk-learn
	url = https://github.com/QSaman/ebon-hawk-learn.git
#[submodule "themes/quark"]
##	path = themes/quark
##	url = https://github.com/getgrav/grav-theme-quark.git
